<h1 class='white text-center'>
  Fly Board
</h1>

<table class='flyboard_table'>
  <tr>
    <th>N</th>
    <th>State</th>
    <th>Action</th>
  </tr>

  <% @planes.each do |plane| %>
    <tr>
      <td class='white'>
        <%= plane['number'] %>
      </td>
      <td class='white'>
        <%= plane['state'] %>
      </td>
      <td>
        <%= link_to 'On take-off',
                    plane_path(plane['number'], plane: { state: 'takeoff' }),
                    method: :patch,
                    class: 'my_button' if plane['state'] == 'hangar' %>
      </td>
    </tr>
  <% end %>
</table>
